.chosen-file-box {
    -fx-fill: #444444;
}

.file-label {
}

.item-box {
    -fx-spacing: 20;
    -fx-alignment: center-right;
}

.button {
    -fx-text-fill: #353434;
}

.blue {
    -fx-background-color: #5991db;
}

.green {
    -fx-background-color: #1daa5e;
}

.red {
    -fx-background-color: #aa382f;
}

.light-blue {
    -fx-background-color: #a4d4db;
}

.light-grey {
    -fx-background-color: #d1d1d1;
}