.main-window {
    -fx-background-color: #f1eedc;
}

.chosen-file-box {
    -fx-fill: #444444;
}

.file-label {
}

.command-out {
    -fx-font-size: 10;
}

.item-box {
    -fx-spacing: 10;
    -fx-alignment: center-right;
    -fx-padding: 5;
}

.files-box {
    -fx-spacing: 10;
}

.button {
    -fx-text-fill: #353434;
    -fx-padding: 5;
}

.sm-button {
    -fx-pref-height: 25;
    -fx-min-height: 25;
    -fx-max-height: 25;
}

.blue {
    -fx-background-color: #5991db;
}

.green {
    -fx-background-color: #1daa5e;
}

.red {
    -fx-background-color: #aa382f;
}

.light-blue {
    -fx-background-color: #addbba;
}

.light-grey {
    -fx-background-color: #d1d1d1;
}